/* You can add global styles to this file, and also import other style files */
html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333333; /* Your desired background color */
}