@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

main {
    background-color: var(--primary-bg-color);
    font-family: 'Roboto Mono', serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    height: 15%;
    width: 100%;
}

#body {
    height: 85%;
    width: 100%;
}