@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

main {
    background-color: var(--primary-bg-color);
    font-family: 'Roboto Mono', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}