<div>
    <table class="bot-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Market</th>
          <th>Type</th>
          <th>Cash Basis</th>
          <th>Cash</th>
          <th>Profit</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @for (bot of bots; track bot.id) {
            <tr [routerLink]="['/bots', bot.name]" class="clickable-row">
            <td>{{ bot.name }}</td>
            <td>Stocks</td>
            <td>{{ bot.type }}</td>
            <td>{{ bot.cash_basis }}</td>
            <td>{{ bot.cash }}</td>
            <td>{{ bot.profit }}</td>
            <td>Active</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
