@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

table {
    font-family: 'Roboto Mono', serif;
    width: 99%;
    border-collapse: collapse;
    margin: 0.2% auto;
    font-size: 18px;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #dbdbdb;
}

th {
    background-color: #444444;
    color: #dbdbdb;
    font-weight: bold;
}

.bot-list-header th {
    background-color: #965efd;
    font-size: 20px;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #dbdbdb;
}

tr:hover {
    background-color: #dbdbdb;
}

a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
