<table>
    <tr class="bot-list-header">
        <th>Ticker</th>
        <th>Type</th>
        <th>Holdings</th>
        <th>Profit</th>
        <th>Cash</th>
        <th>Link</th>
    </tr>
    @for (bot of botList; track bot) {
        <tr>
            <th>{{bot.ticker}}</th>
            <th>{{bot.type}}</th>
            <th>{{bot.holdings}}</th>
            <th>{{bot.profit}}</th>
            <th>{{bot.cash}}</th>
            <th><a [routerLink]="['/', bot.ticker, bot.type]">Bot Page</a></th>
        </tr>
    }
</table>

