<div class="account-view">
    <h1 id="title">Account Data</h1>
    <div class="flexbox-list">
        <div class="flexbox-item">
          <span class="flexbox-label">Account Value</span>
          <span class="flexbox-value" id="account-value">{{ accountValue }}</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Account Cash</span>
          <span class="flexbox-value" id="account-cash">{{ accountCash }}</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Settled Cash</span>
          <span class="flexbox-value" id="settled-cash">{{ settledCash }}</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Unsettled Cash</span>
          <span class="flexbox-value" id="unsettled-cash">{{ unsettledCash }}</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
    </div>
</div>
