<div class="account-view">
    <h1 id="title">Account Data</h1>
    <div class="flexbox-list">
        <div class="flexbox-item">
          <span class="flexbox-label">Account Value</span>
          <span class="flexbox-value">$10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Cash</span>
          <span class="flexbox-value">$10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
        <div class="flexbox-item">
          <span class="flexbox-label">Asset Holdings</span>
          <span class="flexbox-value">10</span>
        </div>
    </div>
</div>
