/* You can add global styles to this file, and also import other style files */
html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 830px; /* Ensures the body stretches the full height of the viewport */
    background-color: #333333; /* Your desired background color */
}