/* You can add global styles to this file, and also import other style files */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

main {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto Mono', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

:root {
    --primary-bg-color: #333333;
    --secondary-bg-color: #444444;
    --positive-values: #5efd96;
    --negative-values: #fd5e5e;
    --hover-color:#2f2e41;
    --graph-color: #965efd;
    --primary-text-color: #a7a3a3;
    --secondary-text-color: #dbdbdb;
    --link-color: #7e858f;
}

/* :root {
    --primary-bg-color: #23322D;
    --secondary-bg-color: #2E4B47;
    --positive-values: #5efd96;
    --negative-values: #fd5e5e;
    --graph-color: #965efd;
    --primary-text-color: #000000;
    --secondary-text-color: #dbdbdb;
    --link-color: #1a73e8;
} */

.account-summary {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 98%;
  margin: 0 auto;
}

.account-summary-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.highlight-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlight-list li {
  background-color: var(--primary-bg-color);
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 8px;
}