/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    /*default theme*/
    --primary-bg-color: #444444;
    --secondary-bg-color: #333333;
    --positive-values: #5efd96;
    --negative-values: #fd5e5e;
    --graph-color: #965efd;
    --text-color: #dbdbdb;
    --link-color: #1a73e8;
}