@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body {
    background-color: transparent;
    font-family: 'Roboto Mono', serif;
    width: 99%;
    margin-left: auto;
    margin-right: auto; /* Centers horizontally */
    overflow: hidden; /* Prevent scrollbars */
}

.bot-viewer-container {
    display: grid;
    float: left;
    grid-template-columns: repeat(2, 1fr); /* Adjust columns dynamically */
    grid-auto-rows: 1fr; /* Ensures rows stretch to fill space */
    gap: 2%; /* Space between grid items */
    width: 78%; /* Container width */
    background-color: #444444; /* Light background for contrast */
    padding: 2%; /* Padding around the grid */
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Prevent scrollbars when filling space */
}

.account-viewer-container {
    width: 21%;
    background-color: #444444; /* Just for visualization */
    float: right;
    padding: 2%; /* Adds some space inside the element */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the element's width/height */
}