#home {
    height: 100%;
    width: 100%;
    display: flex;
}
#activity-feed {
    height: 100%;
    width: 70%;
    background-color: var(--secondary-bg-color);
}
#accounts {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
}
#brokerage {
    height: 50%;
}
#crypto {
    height: 50%;
}